# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.sass-cache
/node_modules
/.pnp
.pnp.js
src/assets/styles/output.css.map

# testing
/coverage
src/assets/libs/quadtree/test.js
src/components/anim.bak
# production
/build

notes

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
