


.boid-overlay-btn {
  
  margin: 0 2px;
  padding: 0;
  background: none;
  
  i {
    margin: 0;
    padding: 4px;
    font-size: 32px;
    border-radius: 16px;
    // border: 1px solid gray;
    // background: rgba(96, 224, 218, 0.384);
    color: rgba(196, 195, 195, 0.623)
  } 
}
.boid-overlay-btn:hover > i {
  transition: 100ms ease-in;
  color: rgb(52, 180, 169);
}

#overlayBtns {
  display: flex;
  flex-direction: row;
  z-index: 2;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

.boid-overlay-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 50%;
  // height: 100%;
  max-height: 100%;
  // background: rgba(218, 117, 117, 0.397);
  box-sizing: border-box;
  padding: 40px 16px 16px 32px;
}
// .boid-overlay-page:hover {
  //   display: flex;
  // }
  
  .boid-overlay-content {
    height: 100%;
    width: 100%;
    background: rgba(196, 195, 195, 0.356);
    border-radius: 8px;
    overflow-y: auto;
  }
  
  .boid-overlay-perception-sliders {
  margin: 8px;
  padding: 16px;
  border-radius: 8px;
  background: #333333;
  box-shadow: inset -8px -8px 16px rgba(93, 81, 114, 0.199);
}
.boid-overlay-slider {
  margin-bottom: 20px;
}

.boid-overlay-text {
  color: white;

}

.boid-overlay-slider-presentation {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    margin-left: 0;
    width: 16px;
    padding:0;
    margin-left: 6px;
  }

}

.boid-overlay-slider-val {
  margin-right: auto;
  font-size: 16px;
}

.boid-overlay-slider-heading-text {
  // font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 4px;
  border-bottom: 2px solid rgba(92, 83, 83, 0.432);
  margin-bottom: 16px;
}
.boid-overlay-slider-text {
  cursor: pointer;
  font-size: 16px;
  text-align: right;
  margin: 0;
}

.boid-overlay-num {
  background: none;
  font-size: 16px;
  font-weight: bold;
  width: 40px;
  text-align: center;
}


// radio selection
#boid-icon-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}


// avoidance buttons
.boid-avoidance-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.boid-avoidance-btn {
  cursor: pointer;
  font-size: 14px;
  color: whitesmoke;
  background: rgb(74, 78, 77);
  border-radius: 8px;
  padding: 4px;

  div {
    margin: 4px;
  }
  div * {
    transition: all 150ms ease-out;
  }
  
  div:hover * {
  transition: all 150ms ease-in;
  transform: scale(1.02, 1.02);
  transform: translate(0, -4%);
  filter: drop-shadow(0px 4px 4px rgb(52, 180, 169));
  }
  
}

// draw type buttons
// #boid-drawtype-btns {

// }
#boid-drawtype-density {
  div i {
    color: rgb(221, 151, 22);
  }
}